/* -------  FONTS  ----------- */

@font-face {
  font-family: 'Cairo Regular';
  src: url(fonts/Cairo-Regular.ttf);
}

/* -------  GENERAL CSS   ----------- */

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #212121;
  color: #FAFAFA;
  font-family: 'Cairo Regular';
}

h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
  padding: 0;
}

/* -------  PAGE SPECIFIC CSS   ----------- */

#app-container {
  height: 100%;
  width: 100%;
  display: flex;
}

#app-title {
  text-align: center;
  padding: 2px 8px;
  font-size: 1.5em;
  cursor: pointer;
  height: min-content;
}

#app-title #logo svg {
  font-size: 4em;
  fill: #ffeb3b;
  width: 50px;
  height: 50px;
}


#app-func-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#app-notes-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}


#notes-list-panel {
  width: 25%;
  height: 100%;
  border: 1px solid #666;
}

#notes-list-panel .list-item {
  border-bottom: 1px solid #666;
  padding: 2px 10px;
  cursor: pointer;
  min-height: 70px;
}

.active {
  background: #673ab7;
}

/* helps to get pointer event on parent only */
#notes-list-panel .list-item * {
  pointer-events: none
}

#notes-view {
  width: 75%;
  border: 1px solid #666;
  border-left: none;
  padding: 2px 10px;
}

#notes-toolbar {
  padding: 10px 10px;
  border: 1px solid #666;
  border-bottom: none;
  display: flex;
  justify-content: flex-start;
}

#delete-note,
#add-note,
#auto-save {
  padding: 8px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
}

#delete-note svg,
#add-note svg,
#auto-save svg {
  fill: #ffeb3b;
}


#delete-note:hover,
#add-note:hover,
#auto-save:hover{
  background-color: #666;
}